.title {
   
    margin: 0 auto;
   color: white;
    width: 9em;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #48EF58;
    border: 2.5px solid white;
    box-shadow: 5px 5px 15px rgba(77, 81, 81, 0.486);
   border-radius: 10px;


} 
.im img{
    width: 248px;
    height: 197px;
}

.box {
    display: flex;
    justify-content: center;
}

.im {
    width: 250px;
    height: 200px;
    background-color: #D9D9D9;
    ;
    border: 2px solid white;
    border-radius: 5px;
}

.mainbody {
    width: 85%; 
    margin: 0 auto;
    height:fit-content;
    display:grid;
    grid-template-columns: auto auto auto;
    
    /* justify-content:fir; */
}

.bt {
    height: 2.5rem;
    background-color: #5498E8;
   
    border-radius: 0px 0px 10px 10px;
    border: 2px solid white;
    color: #FFFFFF;
    display: flex; 
    justify-content: center;
    font-size: 1.44rem;
}

.card {
    border: 2.5px solid white;
    border-radius: 10px;
    width: fit-content; 
    height: fit-content;
    box-shadow: 5px 5px 15px rgba(77, 81, 81, 0.486);
    margin: 20px auto;

}  





@media(max-width:931px){

    .mainbody{ 
        width: 100%;
        grid-template-columns: auto auto;
    }
} 

@media(max-width:568px)
{ .im{ 
    width: 160px;
height: 100px; 

} 
.mainbody{
    width: 100%;
}
    
}



